@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/swiper.scss';
@import "./header.scss";
@import './Footer.scss';
@import './aboutUsMenu.scss';
@import './brandsRepairSection.scss';
@import './navigationMenu.scss';
@import './PricesSection.scss';
@import './ReplyCallBack.scss';
@import './repairItemsSection.scss';
$bgColor: #24292e;
$text: #fff;

.swiper-pagination {
  .repair {
    position: relative;
    top: -30px;
  }
}
.swiper-pagination {
  .prices {
    position: relative;
    top: -70px;
    margin-left: 120px;

  }
}
.swiper {
  display: block;
  width: 260px;
  height: 110px;
  position: relative;
  top:95px;
}
.swiper-pagination{
  position: relative;
  top:88px;
}
